<div class="d-flex flex-column products-container index0">
    <div class="backgroundprim bg-terc absolute index0"></div>
    <div class="backgroundsec bg-sec absolute index1"></div>
    <div class="absolute fit-content index2">
        <!-- <div class="catchPhrase index1 margin-top2">
            <h1 class="catchPhraseText">NUESTROS</h1>
            <h1 class="catchPhraseText">PRODUCTOS</h1>
        </div> -->
        <div class="products-presentation">
            <div class="cremas">
                <div class="margin-top1 circle absolute"></div>
                <div class="images">
                    <div class="image-container absolute index2 fit-content">
                        <img class="relative image-item" src="../../../assets/images/products/coffe-bottle.png"
                            alt="Crema de cafe">
                    </div>
                    <div class="image-container absolute index1 fit-content">
                        <img class="relative image-item" src="../../../assets/images/products/fresa-bottle.png"
                            alt="Crema de fresa">
                    </div>
                    <div class="image-container absolute index1 fit-content">
                        <img class="relative image-item" src="../../../assets/images/products/pina-bottle.png"
                            alt="Crema de piña">
                    </div>
                </div>
                <div class="cremas-text absolute">
                    <h1 class="cremas-title">CREMAS DE</h1>
                    <h1 class="cremas-title">WHISKY</h1>
                    <h2 class="cremas-description margin-top2">
                        Disfruta nuestras cremas de whisky gourmet, elaboradas con leche de almendras y un toque artesanal. Sabor suave, textura cremosa y un final delicioso en cada sorbo.
                    </h2>
                    <h2 class="cremas-description2 margin-top1">¡A solo $380c/u!</h2>
                </div>
                 <div class="absolute buyButton">
                    <button class="btn btn-primary btn-lg">¡Ordena YA!</button>
                </div>
            </div>
            <div class="jugos">
                <div class="images">
                    <div class="image-container absolute index2 fit-content">
                        <img class="relative image-item" src="../../../assets/images/products/all-juice.png"
                            alt="Crema de cafe">
                    </div>
                </div>
                <div class="jugos-text absolute">
                    <h1 class="jugos-title right">JUGOS CON</h1>
                    <h1 class="jugos-title right">MEZCAL</h1>
                    <h2 class="jugos-description margin-top2 right">
                        Disfruta nuestros jugos con mezcal, elaborados con frutas frescas y un toque artesanal. Sabor suave, textura cremosa y un final delicioso en cada sorbo.
                    </h2>
                    <h2 class="jugos-description2 margin-top1 right">¡A solo $380c/u!</h2>
                </div>
                 <div class="absolute buyButton">
                    <button class="btn btn-primary btn-lg">¡Ordena YA!</button>
                </div>
            </div>
        </div>

    </div>
</div>