$primary: #f3f0e4;
$secondary: #e9dcc2;

$heroTitle: #644941;
$heroText: #7d5a50;

// Wood image
$base: #ceae94;
$wood: #e9dcc2;

.products-container-title .products-container-title-text {
    color: $heroTitle;
}

// .products-container-cremas-text{
//     margin: 3vw;
// }

.products-container-cremas-image,
.products-container-jugos-image {
    min-height: 30vh
}

.products-container-cremas-image img {
    width: 70%;
    height: auto;
}

.products-container-jugos-image img {
    width: 60%;
    height: auto;
}

.cremas-title,
.jugos-title {
    color: $heroTitle;
    font-size: clamp(4vw, 6vw, 8vw);
    margin: 0;
    width: 45vw;
}

.cremas-text h2,
.jugos-text h2 {
    line-height: 1.2;
    margin: 0;
    width: 45vw;
}

.cremas-description,
.jugos-description {
    color: $heroTitle;
    font-size: clamp(0.4vw, 1vw, 1.3vw);
    letter-spacing: 0.15em;
}

.cremas-description2,
.jugos-description2 {
    font-family: 'Playfair Display', serif;
    color: $heroTitle;
    letter-spacing: 0.2em;
    font-size: clamp(0.5vw, 1.1vw, 1.4vw);
}

.grid-two-thirds {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 7fr;
}

.grid-two-thirds-reverse {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 7fr 5fr;
}

.right {
    text-align: right !important;
}

/* Small tablets & large phones (≥ 600px) */
@media (max-width: 600px) and (min-height: 600px) {


    .grid-two-thirds,
    .grid-two-thirds-reverse {
        grid-template-rows: 5fr 3fr;
        grid-template-columns: 1fr;
    }

    .products-container-jugos-text,
    .products-container-cremas-text {
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
        width: 90vw;
        margin: 0 5vw;
    }

    .products-container-jugos{
        margin-top: 10vw;
    }

    .right {
        text-align: center !important;
    }

    .products-container-cremas-image img {
        width: 70%;
        height: auto;
    }

    .products-container-jugos-image img {
        width: 60%;
        height: auto;
    }

    .cremas-description,
    .jugos-description {
        font-size: 2.8vw
    }

    .cremas-description2,
    .jugos-description2 {
        font-size: 3.2vw
    }

    .cremas-button,
    .jugos-button {
        width: 30vw !important;
        font-size: 3.3vw !important;
    }
}