<div class="about-us-container">
    <div class="vh-50 primaryColor bg-sec"></div>
    <div class="vh-50 secondaryColor bg-terc"></div>

    <div class="woodimage d-flex align-items-center justify-content-center">
        <div class="circle1"></div>
        <div class="circle2"></div>
    </div>

    <div class="catchPhrase index1 absolute">
        <h1 class="catchPhraseText">FRASE</h1>
        <h1 class="catchPhraseText">MAMADORA</h1>
    </div>

    <div class="aboutUsText index1 absolute">
        <h2>Desde nuestra fundación el 25 de mayo de 2013, Dolce Daniel's tiene la misión de redefinir la industria de
            las bebidas espirituosas. Lo que comenzó como una audaz aventura en la elaboración de una excepcional crema
            de whisky, ha evolucionado hasta convertirse en un verdadero fenómeno culinario. </h2>
    </div>
</div>