$primary: #f3f0e4;
$secondary: #e9dcc2;

$heroTitle: #644941;
$heroText: #7d5a50;

// Wood image
$base: #ceae94;
$wood: #e9dcc2;
$green:#5a7f6c;

.about-us-container-image{
    margin: 3vw 0;
    height: 100%;
}

.about-us-container-image div,
.about-us-container-image img{
    margin: 0 10px;
}

.about-us-container-image img{
    width: 34vw;
}


.about-us-image-text h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle-image{
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background-color: $green;
}

.circle{
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    background-color: $green;
}

.circle2 {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: $green;
}

.catchPhrase h1 {
    color: $heroTitle;
    font-size: clamp(4vw, 6vw, 8vw);
    margin: 0;
}

.aboutUsText {
    width: clamp( 10rem, 65vw, 66rem);
    color: $heroText;
}

.aboutUsText h2 {
    color: $heroTitle;
    font-size: clamp(0.6vw, 1.2vw, 1.6vw);
    letter-spacing: 0.15em;
    line-height: 1.4;
}

/* Small tablets & large phones (≥ 600px) */
@media (max-width: 600px) and (min-height: 350px){
.aboutUsText {
        width: 95vw;
    }
.catchPhrase h1 {
        font-size: 8vw;
    }
.aboutUsText h2 {
        font-size: 3vw
    }
.about-us-container-image img {
    width: 60vw;
}
.about-us-container-image div,
.about-us-container-image img {
    margin: 0 1px;
}
}
