    <div class="container-test hero-grid grid-two-thirds overflow-hidden">
        <div class="container-content col d-flex flex-column justify-content-center align-items-center">
        <div class="bottleImages relative">
            <div class="absolute arrow right-arrow  d-flex justify-content-right align-items-center">
                <img src="../../../assets/images/main/hero/right-arrow.png" (click)="next()" alt="Right Arrow" class="index3">
            </div>
            <div class="absolute arrow left-arrow  d-flex justify-content-left align-items-center">
                <img src="../../../assets/images/main/hero/left-arrow.png" (click)="previous()" alt="Left Arrow" class="index3">
            </div>

            <div class="bottleImages-items">
                <div class="item absolute">
                    <img id="cafe" src="../../../assets/images/main/hero/coffeBottle.svg" alt="Crema de Whisky café chocolate">
                </div>
                <div class="item absolute left-700">
                    <img id="fresa" src="../../../assets/images/main/hero/fresaBottle.svg" alt="Crema de Whisky fresa">
                </div>
                <div class="item absolute right-700">
                    <img id="coco" src="../../../assets/images/main/hero/cocoBottle.svg" alt="Crema de Whisky coco">
                </div>
            </div>
            
        </div>
        <div class="bottleTitle margin-top05 center">
            <hr>
            <h1 class="bottleTitleText bottleTitle1">CREMA</h1>
            <h1 class="bottleTitleText bottleTitle2">CAFÉ CHOCOLATE</h1>
            <hr>
        </div>
        <div id="heroButton" class="buyButton col d-flex flex-column justify-content-center align-items-center">
            <a href="https://articulo.mercadolibre.com.mx/MLM-1331151623-dolce-daniels-crema-cafe-chocolate-_JM#position=3&search_layout=stack&type=item&tracking_id=f41312ec-1b57-4aed-a932-09168d2bff0b"
                target="_blank" rel="noopener">
                <button class="btn btn-primary btn-lg">¡LA QUIERO!</button>
            </a>
        </div>
        </div>
        <div class="heroText col d-flex flex-column justify-content-center align-items-start">
            <div id="heroHeading" class="heroHeading d-flex flex-column">
                <div class="heroTitle left">
                    <h1 id="firstTitle" class="heroTitleText">CREMA DE</h1>
                    <h1 id="secondTitle" class="heroTitleText">WHISKY</h1>
                </div>
                <div class="heroSubtitle left margin-top1">
                    <h1 class="heroSubtitleText">ORIGINARIA DE MÉXICO</h1>
                </div>
                <div class="heroText left margin-top1">
                    <h2 class="heroTextContent">Atrévete a seducir tus sentidos...</h2>
                    <h2 class="heroTextContent">Con Dolce Daniel’s haz de tus momentos algo <span>inolvidable</span></h2>
                </div>
                <div class="heroButton"></div>
            </div>
        </div>
    </div>
