<div class="overflow-hidden vh-100 background-hero index0">
    <div class="vh-50 primaryColor abs-top bg-prim"></div>
    <div class="vh-50 secondaryColor abs-bottom bg-sec"></div>
</div>
<div class="vh-100  absolute index1">
    <div class="hero-grid grid-two-thirds">
        <div class="bottlesContainer col d-flex flex-column justify-content-center align-items-center">
            <div class="products col d-flex flex-column justify-content-center align-items-center">
                <div class="bottleImages col d-flex flex-column justify-content-center align-items-center">
                    <img id="cafe"  src="../../../assets/images/hero/coffeBottle.png" alt="Crema de Whisky café chocolate">
                </div>
                <div class="bottleTitle margin-top1 center">
                    <h1 class="bottleTitleText">Crema café</h1>
                    <h1 class="bottleTitleText">chocolate</h1>

                </div>
                <div class="buyButton margin-top1 col d-flex flex-column justify-content-center align-items-center">
                    <button class="btn btn-primary btn-lg">Comprar</button>
                </div>
            </div>
        </div>
        <div class="heroText col d-flex flex-column justify-content-center align-items-center">
            <div id="heroHeading" class="">
                <div class="heroTitle left">
                    <h1 id="firstTitle" class="heroTitleText">CREMA DE</h1>
                    <h1 id="secondTitle" class="heroTitleText">WHISKY</h1>
                </div>
                <div class="heroSubtitle left margin-top1">
                    <h1 class="heroSubtitleText">ORIGINARIA DE MÉXICO</h1>
                </div>
                <div class="heroText left margin-top2">
                    <h2 class="heroTextContent">Atrévete a seducir tus sentidos...</h2>
                    <h2 class="heroTextContent">Con Dolce Daniel’s haz de tus momentos algo <span>inolvidable</span></h2>
                </div>
                <div class="heroButton"></div>
            </div>
        </div>
    </div>
</div>