<div class="vh-100 d-flex flex-column index0">
    <div class="vh-50 primaryColor bg-prim"></div>
    <div class="vh-50 secondaryColor bg-sec"></div>
</div>
<div class="vh-100  absolute index1 overflowx-hidden">
    <div class="hero-grid grid-two-thirds">
        <div class="margin-top4 bottlesContainer col d-flex flex-column justify-content-center align-items-center">
            <div class="products col d-flex flex-column justify-content-center align-items-center">
                <div class="bottleImages col d-flex flex-column justify-content-center align-items-center">
                    <img id="cafe"  src="../../../assets/images/main/hero/coffeBottle.png" alt="Crema de Whisky café chocolate">
                </div>
                <div class="bottleTitle margin-top05 center">
                    <hr>
                    <h1 class="bottleTitleText">Crema café</h1>
                    <h1 class="bottleTitleText">chocolate</h1>
                    <hr>

                </div>
                <div class="buyButton col d-flex flex-column justify-content-center align-items-center">
                    <button class="btn btn-primary btn-lg">¡La quiero!</button>
                </div>
            </div>
        </div>
        <div class="heroText col d-flex flex-column justify-content-center align-items-center">
            <div id="heroHeading" class="heroHeading">
                <div class="heroTitle left">
                    <h1 id="firstTitle" class="heroTitleText">CREMA DE</h1>
                    <h1 id="secondTitle" class="heroTitleText">WHISKY</h1>
                </div>
                <div class="heroSubtitle left margin-top1">
                    <h1 class="heroSubtitleText">ORIGINARIA DE MÉXICO</h1>
                </div>
                <div class="heroText left margin-top2">
                    <h2 class="heroTextContent">Atrévete a seducir tus sentidos...</h2>
                    <h2 class="heroTextContent">Con Dolce Daniel’s haz de tus momentos algo <span>inolvidable</span></h2>
                </div>
                <div class="heroButton"></div>
            </div>
        </div>
    </div>
</div>