//BACKGROUND COLORS
$primary: #f8f4e1;
$secondary: #f3f0e4;
$terciary: #e9dcc2;

//FONT COLORS
$heroTitle: #644941;
$heroText: #7d5a50;

.heroHeading{
    width: 90%;
}

.heroTitle h1 {
    display: inline-block;
    color: $heroTitle;
    font-size: 10rem;
    margin: 0;
    animation: pulseWrapper 2s infinite;
}

@keyframes pulseWrapper {

    0%,
    12.5% {
        transform: scale(1);
        opacity: 1;
    }

    6.25% {
        transform: scale(1.05);
        opacity: 0.85;
    }

    12.5% {
        transform: scale(1);
        opacity: 1;
    }

    18.75% {
        transform: scale(1.05);
        opacity: 0.85;
    }

    25% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.bottleTitle h1{
    color: $heroTitle;
    font-size: 1.8rem;
    letter-spacing: 0.07rem;
    padding-left: 20px;
    margin: 0;
    margin-right: 15px;
}
.heroSubtitle h1{
    display: inline-block;
    color: $heroTitle;
    font-size: 2.7rem;
    padding-left: 20px;
    margin: 0;
}

.heroText h2{
    color: $heroText;
    font-size: 1.1rem;
    padding-left: 20px;
    margin: 0;
}

.heroText span{
    color: $heroTitle;
    font-size: 1.3rem;
    font-style: italic;
    text-decoration: underline;
}
.bottleImages img{
    cursor: pointer;
    width: 135%;
    height: auto;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}



.bottleImages:hover img{
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}   


.bottleTitle hr{
    left: 50%;
    width: 10vw;
    transform: translateX(-50%);
    position: relative;
}