
<div class="d-flex align-items-center justify-content-center associates-container index0">
    <div class="associates-text vw-30 d-flex flex-column justify-content-center associates-container">
        <div class="associates-title d-flex flex-column justify-content-center associates-container">
            <h1 class="associates-title-text center">Ahora en tus</h1>
            <h1 class="associates-title-text center">lugares</h1>
            <h1 class="associates-title-text center">favoritos</h1>
        </div>
        <div class="associates-description margin-top1">
            <h2 class="associates-description-text center">Como parte de nuestra expansión ahora nos encontramos en más de 30 tiendas a lo largo e la República. </h2>
        </div>
    </div>
    <div class="associates-images">
        <div class="associates-images-grid">
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/mercadoLibre_logo.png" class="shops__image" id="mc_image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/donAgustin_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/ranitaTapatia_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/chalico_logo.jpg" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/tepozHouse_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/gohnny.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/motesGrill_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/laNachería_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/donConejo_logo.jpg" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/elArenal_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/elCarpico_logo.jpg" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/espartacos_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/festival_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/grill_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/pilarica_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/burgerRaider.jpg" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/chinelobus_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/bonApetit_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/barberiaChalco_logo.png" class="shops__image" />
                </div>
            </div>
            
            <div>
                <div class="shops__images">
                    <img src="../../../assets/images/main/associates/crustaceo_logo.png" class="shops__image" />
                </div>        </div>
        </div>
    </div>
</div>