
<div class="vh-100 bg-sec d-flex align-items-center justify-content-center associates-container index0">
    <div class="associates-text vw-40 vh-100 d-flex flex-column justify-content-center associates-container">
        <div class="associates-title d-flex flex-column justify-content-center associates-container">
            <h1 class="associates-title-text center">Ahora en tus</h1>
            <h1 class="associates-title-text center">lugares</h1>
            <h1 class="associates-title-text center">favoritos</h1>
        </div>
        <div class="associates-description">
            <h2 class="associates-description-text center">Como parte de nuestra expansión ahora nos encontramos en más de 30 tiendas a lo largo e la República. </h2>
        </div>
    </div>
    <div class="associates-images">
        <div class="associates-images-grid">
            <div *ngFor="let i of [].constructor(25)" style="background-color: #e0e0e0;"></div>
        </div>
    </div>
</div>