<div class="d-flex flex-column products-container index0">
    <div class="shop-heading d-flex justify-content-center align-items-center">
        <div class="shop-heading-cremas center" [class.active]="activeSection === 'cremas'"
            [class.unactive]="activeSection !== 'cremas'" (click)="setActive('cremas')">
            <h1 class="shop-heading-text">CREMAS DE</h1>
            <h1 class="shop-heading-text">WHISKY</h1>
            <hr>
        </div>

        <div class="shop-heading-jugos center" [class.active]="activeSection === 'jugos'"
            [class.unactive]="activeSection !== 'jugos'" (click)="setActive('jugos')">
            <h1 class="shop-heading-text">JUGOS CON</h1>
            <h1 class="shop-heading-text">MEZCAL</h1>
            <hr>
        </div>

    </div>
    <div class="shop-products">
        <div class="shop-products-cremas grid-3-cols" [class.right]="activeSection === 'jugos'">
            <div class="shop-products-cremas-item d-flex flex-column justify-content-center align-items-center">
                <div class="shop-products-cremas-item-image">
                    <img src="../../../assets/images/main/shop/8.png" class="shop-products-cremas-item-image"/>
                </div>
                <div class="shop-products-cremas-item-description">
                </div>
            </div>
            <div class="shop-products-cremas-item d-flex flex-column justify-content-center align-items-center">
                <div class="shop-products-cremas-item-image">
                    <img src="../../../assets/images/main/shop/9.png" class="shop-products-cremas-item-image" />
                </div>
                <div class="shop-products-cremas-item-description">
                </div>
            </div>
            <div class="shop-products-cremas-item d-flex flex-column justify-content-center align-items-center">
                <div class="shop-products-cremas-item-image">
                    <img src="../../../assets/images/main/shop/10.png" class="shop-products-cremas-item-image" />
                </div>
                <div class="shop-products-cremas-item-description">
                </div>
            </div>
        </div>
        <div class="shop-products-jugos" [class.left]="activeSection === 'cremas'">
            
        </div>
    </div>