//BACKGROUND COLORS
$primary: #f8f4e1;
$secondary: #f3f0e4;
$terciary: #e9dcc2;

//FONT COLORS
$heroTitle: #644941;
$heroText: #7d5a50;

// Playfair Display
@font-face {
  font-family: 'Playfair Display extraBold';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Playfair Display SC
@font-face {
  font-family: 'Playfair Display SC';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


// Raleway
@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway/static/Raleway-ThinItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

//raleway bold
@font-face {
    font-family: 'Raleway-Bold';
    src: url('./assets/fonts/Raleway/static/Raleway-BlackItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

img {
    max-width: 100%;
    display: block;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}

.raleway-bold {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
}

.playfair {
  font-family: 'Playfair Display extraBold', serif;
}

.playfair-sc {
  font-family: 'Playfair Display SC', serif;
}


img, h1{
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, span{
    font-family: 'Playfair Display extraBold', serif;
    line-height: 1;
    letter-spacing: 0.01em;
}

h2{
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    letter-spacing: 0.15em;
}

hr{
    border: none;
    border-top: 1px solid $heroText;
    margin: 0.6rem 0;
}

button{
    cursor: pointer;
    width: 12vw;
    font-family: 'Playfair Display extraBold', sans-serif;
    font-weight: 700;
    border-style: solid;
    border-width: 1px;
    border-color: $heroTitle;
    color: $heroText;
    padding: 12px;
    border-radius: 5px;
    letter-spacing: 0.1em;
    font-size: clamp(0.4vw, 1vw, 1.2vw);
    transition: all 0.3s ease-in-out;
}

button:hover{
    width: 13vw;
    background-color: $heroTitle;
    color: $secondary;
    transition: all 0.3s ease-in-out;
}

@for $i from 10 through 300 {
    @if $i % 10 == 0 {
        .vh-#{$i} {
            height: #{$i}vh !important;
        }
    }
}

@for $i from 10 through 300 {
    @if $i % 10 == 0 {
        .vw-#{$i} {
            width: #{$i}vw !important;
        }
    }
}

@for $i from 10 through 200 {
    .vw-#{$i}pc {
        width: #{$i + '%'} !important;
    }
    .vh-#{$i}pc {
        height: #{$i + '%'} !important;
    }
}

.invisible {
    display: none !important;
}

@for $i from 0 through 20 {
    .index#{$i} {
        z-index: #{$i};
    }
}
.relative{
    position: relative;
}

.absolute{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;;
}
.overflow-visible {
    overflow: visible;
}
.overflowx-hidden {
    overflow-x: hidden;
}
.overflowy-hidden {
    overflow-y: hidden;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abs-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.abs-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bg-prim {
    background-color: $primary !important;
}

.bg-sec {
    background-color: $secondary !important;
}

.bg-terc {
    background-color: $terciary !important;
}

.bg-forth{
    background-color: #644941 !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

.grid-two-thirds{
    display: grid; 
    grid-template-rows: 1fr; 
    grid-template-columns: 5fr 7fr; 
}

.grid-two-thirds-reverse{
    display: grid; 
    grid-template-rows: 1fr; 
    grid-template-columns: 7fr 5fr; 
}

.grid-two-halfs{
    display: grid; 
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
}

.fit-content{
    width: fit-content !important;
}
.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-left {
    justify-content: left !important;
}
.justify-content-right {
    justify-content: right !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-end{
    align-items: end !important;
}

.align-items-start{
    align-items: start !important;
}

.flex-column {
    flex-direction: column !important;
}

.center{
    text-align: center !important;
}

.left{
    text-align: left !important;
}

.right{
    text-align: right !important;
}

.hundredPc{
    width: 100% !important;
}

@for $i from 0 through 15 {
    .margin-top#{if($i == 0, '05', $i)} {
        margin-top: #{if($i == 0, 0.5, $i*10)}px !important;
    }
}
@for $i from 1 through 15 {
    .margin-bottom#{$i} {
        margin-bottom: #{$i*10}px !important;
    }
    .margin-right#{$i} {
        margin-right: #{$i*10}px !important;
    }
    .margin-left#{$i} {
        margin-left: #{$i*10}px !important;
    }
}
@for $i from 50 through 1000 {
    @if $i % 50 == 0 {
        .left-#{$i} {
            transform: translateX(#{$i}px) !important;
            opacity: 0 !important;
            z-index: 1 !important; 
        }
        .right-#{$i} {
            transform: translateX(-#{$i}px) !important;
            opacity: 0 !important;
            z-index: 1 !important;
        }
    }
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.pack-item {
    grid-column: 1 / -1;
    justify-self: center;
}
